<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fakharali.signin">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Videos" />
        <activity android:name=".watch_later" />
        <activity android:name=".Time_Watched" />
        <activity android:name=".Paid_Membership" />
        <activity android:name=".SettingActivity" />
        <activity android:name=".Gernal_Activity" />
        <activity android:name=".AutoPlay" />
        <activity android:name=".Downloads" />
        <activity android:name=".Watch_on_TV" />
        <activity android:name=".History_and_Privacy" />
        <activity android:name=".Notifications_Activity" />
        <activity android:name=".Live_Chat" />
        <activity android:name=".About_Activity" />
        <activity android:name=".Connected_accounts" />
        <activity android:name=".Captions_Activity" />
        <activity android:name=".login_Activity" />
        <activity android:name=".Status_Activity"></activity>
    </application>

</manifest>